body{
     background-image: url('https://www.wallpapertip.com/wmimgs/149-1491561_sky-blue-hd-background-image-for-banner-light.jpg');
     max-height: 100%;
     max-width: 100%; 
     background-position: fixed;   
     background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    box-shadow: inset 0 0 0 100% rgba(0,0,0, 0.4); 

}


